{{ asset_add('styles.css', 'anomaly.extension.demo_block::less/test.less') }}

<div class="demo-block test-block">

    <h3>{{ block.entry.title }}</h3>

    {{ block.entry.content.render|raw }}

</div>
